* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.product-slider {
    background-color: #f5f5f5;
    padding: 0 20px;
    box-sizing: border-box;
}

.slider-heading {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.slider-heading h3 {
    font-size: 1.75em;
    color: #1d1d1f;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 34px;
}

.slider-heading h3 span {
    color: #6e6e73;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    border: 1px solid rgba(0, 0, 0, .8);
    overflow: hidden;
    transition: all ease .3s;
}

.product-box strong {
    color: #29292c;
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 24px;
}

.product-box img {
    width: 210px;
    height: 250px;
    padding: 20px 0;
    display: flex;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;
}

.available-color {
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-color .product-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: inset 2px 2px 30px rgba(0, 0, 0, .3);
    margin: 3px;
}